
.inner-mid{
    
    width: 164px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: block;
}

#logo{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.logo{
    color:white;
    text-decoration: none;
    padding-left: 10px;    
}
.logo:hover{
    color: white;
    text-decoration: none;
}



.navbar-mid{
    margin-left: auto !important;
    margin-right: auto !important;
    color: blue !important;
}
